<ion-header>
  <ion-toolbar>
    <ion-title [title]="'RegistrApp'">
      RegistrApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="body">
    <ion-img class="logo" src="../assets/favicon.png"></ion-img>
  <ion-card>
    <ion-card-content>
      <div class="android">
      <ion-icon name="logo-android" size="large"></ion-icon>
      <p id="titleAndroid">Disponible en Android</p>
    </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div class="ios">
        <ion-icon name="phone-portrait-outline" size="large"></ion-icon>
      <p id="titleIos">No Disponible</p>
    </div>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
